extends ../layout
include ../mixins/mixinVideo
include ../mixins/mixinVideoPlayer
include ../mixins/mixinVideoDetail

block content 
  .video-detail__container
    .video-detail__main
      +mixinVideoPlayer(video)
      .video__info
        div.video__hashtags
          each hashtag in video.hashtags
            span(id="jsHashtag") #{hashtag}
        h5.video__title=video.title
        .video__viewDate
          if video.meta.views > 0
            span 조회수
            span.video__views #{video.meta.views}
          else if video.meta.views === 0
            span 조회수
            span.video__views 0
          em •
          span.video__date #{new Date(video.createdAt).toLocaleDateString("ko-KR")}
          if loggedInUser
            if String(user._id) === String(loggedInUser._id)
              a(href=`${video._id}/edit`) 
                button 비디오 수정
        .division-line
        .video__author
          .video__avatar
            a(href=`/users/${video.user.username}`)
              if video.user.avatarUrl
                img(src=`${video.user.avatarUrl}` crossorigin)
              else
                img(src="/images/default_user.png" crossorigin)
          a(href=`/users/${video.user.username}`)=video.user.username
        .video__description 
          pre #{video.description}
        .division-line
      .video__comments 

        if video.comments.length > 0
          span.video__totalComments
            |댓글
            span#jsCommentNumber #{video.comments.length}
            |개
        else if video.comments.length === 0
          span.video__totalComments
            |댓글
            span#jsCommentNumber 0
            |개
        form(class="add__comment" id="jsCommentForm")

          if isLoggedIn!==true
            img(src="/images/default_user.png" crossorigin)
          else
            if loggedInUser.avatarUrl
              img(src=`${loggedInUser.avatarUrl}` crossorigin)
            else
              img(src="/images/default_user.png" crossorigin)
          if isLoggedIn===true
            input(type="text" placeholder="공개 댓글 추가..." name="comment" id="jsCommentInput" minLength=1)
          else
            input(type="text" placeholder="로그인 후 댓글을 남길 수 있습니다." name="comment" id="jsCommentInput" minLength=1 disabled=true)
        
        ul(class="comment__list" id="jsCommentUl")
          each comment in video.comments.reverse()
            li(class="comment__item" id="jsCommentLi" data-id=comment._id)
              .comment__image
                if !comment.user.avatarUrl
                  a(href=`/users/${comment.user.username}`) 
                    img(src="/images/default_user.png" crossorigin)
                else 
                  if comment.user.avatarUrl
                    a(href=`/users/${comment.user.username}`)
                      img(src=`${comment.user.avatarUrl}` crossorigin)
                  else 
                    a(href=`/users/${comment.user.username}`)
                      img(src="/images/default_user.png" crossorigin)
              .comment__content
                .comment__author
                  span
                    a(href=`/users/${comment.user.username}`) #{comment.user.username}
                  span #{new Date(video.createdAt).toLocaleDateString("ko-KR")}
                  if loggedInUser && (`${comment.user._id}` === loggedInUser._id)
                    button(class="comment__delete" id="jsDeleteCommentButton")
                      i.fas.fa-times-circle
                .comment__description #{comment.text}

    .video-detail__aside
      each video in videos
        +mixinVideoDetail(video)

block script
  script(src="/assets/js/videoPlayer.js")
  script(src="/assets/js/thumbnailVideo.js")
  script(src="/assets/js/comment.js") 
  script(src="/assets/js/hashtag.js")