mixin mixinSearchVideo(video)
  .videoSearch 
    .videoSearch__video
      a(href=`/videos/${video._id}`)
        video(class="searchVideo" src=`/${video.videoUrl}`, poster="", controls=false, muted="muted" crossorigin)
    .videoSearch__content
      a(href=`/videos/${video._id}`)
        h4.videoSearch__title #{video.title}

      .videoSearch__viewDate
        if true
          h6.videoSearch__views 조회수 1 
        else if true
          h6.videoSearch__views 조회수 0
        else 
          h6.videoSearch__views 조회수
        em •
        h6 #{new Date(video.createdAt).toISOString().substring(0,10)}
      
      .videoSearch__creator 
        a(href=`users/${video.user._id}`)
          img(src=video.user.avatarUrl crossorigin)
          h5 #{video.user.username}
      
      .videoSearch_description  
        h5 #{video.description}