mixin mixinThumbnail(video)
  .thumbnailBlock
    a(href=`/videos/${video._id}`)
      video(class="thumbnailBlock__thumbnail" id="jsThumbnailVideo" src=`/${video.videoUrl}` poster=`/${video.thumbnailUrl}` controls=false muted="muted" crossorigin)
      .thumbnail__container
        .thumbnailBlock__main
          h3.thumbnailBlock__title #{video.title}
          h4.thumbnailBlock__description #{video.description}
        if true
          h6.thumbnailBlock__views 조회수 1
        else if true
          h6.thumbnailBlock__views 조회수 0
        else 
          h6.thumbnailBlock__views 조회수