mixin mixinVideo(video)
  div 
    h1
      a(href=`/videos/${video.id}`)=video.title
    ul 
      li id: #{video._id}
      li description: #{video.description}
      li hashtags: #{video.hashtags}
      li rating: #{video.rating}
      li comments: #{video.comments}
      li views: #{video.views}
      li createdAt: #{video.createdAt}