mixin mixinVideo(video)
  div 
    h1 title: #{video.title}
    ul 
      li rating: #{video.rating}
      li comments: #{video.comments}
      li views: #{video.views}
      li createdAt: #{video.createdAt}