mixin mixinSearchVideo(video)
  .videoSearch 
    .videoSearch__video
      a(href=`/videos/${video._id}`)
        video(class="searchVideo" id="jsThumbnailVideo" src=`${video.videoUrl}` poster=`${video.thumbnailUrl}` controls=false muted="muted" crossorigin)
    .videoSearch__content
      a(href=`/videos/${video._id}`)
        h4.videoSearch__title #{video.title}

      .videoSearch__viewDate
        if video.meta.views > 0
          h6.videoSearch__views 조회수 #{video.meta.views} 
        else if video.meta.views === 0
          h6.videoSearch__views 조회수 0
        em •
        h6 #{new Date(video.createdAt).toLocaleDateString("ko-KR")}
      
      .videoSearch__creator
        a(href=`users/${video.user.username}`)
          img(src=`${video.user.avatarUrl}` crossorigin)
          h5 #{video.user.username}
      
      .videoSearch_description  
        h5 #{video.description}