extends ../layout.pug

block content 
  h1 editProfile

  h3=errorMessage
  
  img(src=`/${loggedInUser.avatarUrl}`, alt=loggedInUser.avatarUrl width=100, height=100)
  form(method="POST" enctype="multipart/form-data")
    input(name="username" type="text" placeholder="이름" value=loggedInUser.username)
    input(name="email" type="email" placeholder="이메일" value=loggedInUser.email)
    label(for="avatar") 이미지
    input(id="avatar" name="avatar" type="file" placeholder="이미지" accept="image/*")
    input(type="submit" value="프로필 업데이트")
